*{
    margin: 0;
    padding: 0;
}
.clearfix:after,.clearfix::before{
    content: '';
    clear: both;
    display: table;
}
.fl{
    float: left;
  }
.fr{
    float: right;
  }
  .iconfont{
      cursor: pointer;
  }
body{
    background-color:#fff;
    color:#000;
    font-size: 14px;
    width: 1519.2px;
}
.my_header{
    width:100%;
    height:200px;
}
.my_footer{
    width:100%;
    height:320px;
}
a{
    color:#000;
    list-style: none;
    text-decoration: none;
}
button:focus{
    border: none;
    outline: none;
}
button{
    border: none;
    cursor: pointer;
}
/*****************鼠标悬停抖动效果**************************/
.dou {
	
    border-radius: 2px;
}
.dou:hover {
	animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}
@keyframes shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}
	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}
	30%, 50%, 70% {
		transform: translate3d(-4px, 0, 0);
	}
	40%, 60% {
		transform: translate3d(4px, 0, 0);
	}
}
/******************点赞收藏动画************************/
.tb{
    width: 25px;
    height: 25px;
    margin-left: 15px !important;
    margin-bottom: 0 !important;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size:contain;
}
.tb.xh{
    background-image: url(../img/my_icon/xh.png);
    transition: 2s;
  }
.tb.sc{
    background-image: url(../img/my_icon/sc.png);
    transition: 2s;
  }
  #list .body .row li ul.clearfix li~li{
    margin-left: 15px;      
}
.tb.xh.active{
    background-image: url(../img/my_icon/actxh.png);
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}
.tb.sc.active{
    background-image: url(../img/my_icon/actsc.png);
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}
#list .body .row li ul.clearfix li:hover{
    border: 1px solid #fff;
    box-shadow: 0 0 5px 1px  #dddddd;
    transition: 1.5s;
}
#list .body .row li ul.clearfix li:hover .img>img{
    transform: scale(1.1);
    transition: 2s;
}