 /*************************************轮播图*****************************/
 .sconed{
     width: 1100px;
     height: 400px;
     background-color: thistle;
     margin: 0px auto;
     position: relative;
 }
 .sconed>a{
     display: inline-block;
     position: absolute;
     width: 40px;
     height: 70px;
     background-color: rgba(255, 255, 255,.2);
    top: 50%;
    margin-top: -35px;
 }
 .sconed>.left::after{
     content: '';
     width: 10px;
     height: 10px;
     border-top:none ;
     border-right:none;
     border-bottom: 1px solid #666;
     border-left:1px solid #666;
    transform: rotate(45deg);
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    left: 15px;
 }
 .sconed>.right::after{
    content: '';
    width: 10px;
    height: 10px;
    border-top:1px solid #666 ;
    border-right:1px solid #666;
    border-bottom:none ;
    border-left:none;
   transform: rotate(45deg);
   display: block;
   position: absolute;
   top: 50%;
   margin-top: -6px;
   right:15px;
}
 .sconed>.left{
     left: 30px;
 }
 .sconed>.right{
     right: 30px;
 }
 /******************************/
 .sconed>.circle{
     width: 120px;
     height: 10px;
     position: absolute;
     left: 50%;
     margin-left:-60px ;
     bottom: 30px;
 }
 .sconed>.circle>ul{
     list-style: none;
    justify-content: center;
     display: flex;
 }
 .sconed>.circle>ul>li{
     display: inline-block;
     width: 15px;
     height: 5px;
     background-color: teal;
 }
 .sconed>.circle>ul>li~li{
     margin-left: 5px;
 }
 /***********************************************************list********************************/
 #list{
    background-color: #fff;
    color: #000;
  }
  #list .body{
      margin-top: 60px;
      margin-bottom: 100px;
  }
  #list .body .row, #list .body .row li ul{
      list-style: none;
  }
  #list .body .row li{
    margin-top: 15px;
}
#list .body .row li ul{
   margin-left: 155px;
}
  #list .body .row li ul li{
    width:290px;
    height: 400px;
    border: 1px solid #ffffff;
   float: left;
   color: 14px;
   font-weight: normal;
  }
  #list .body .row li ul li .img{
      width: 290px;
      height: 280px;
      background-color: tomato;
      overflow: hidden;
  }
  #list .body .row li ul li .img>img{
      height: 100%;
  }
  #list .body .row li ul li .textcontent{
    width: 270px;
  }
  #list .body .row li ul li .textcontent div{
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: bolder;
    margin-left: 45px;
  }
  #list .body .row li ul li .textcontent div a{
    color: #000;
  }
  #list .body .row li ul li .textcontent div:last-child>a:first-child{
    font-size: 12px;
    display:inline-block;
    width: 90px;
    height: 30px;
    background-color: #ff6600;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    color: #fff;
  }
  #list .body .row li ul li .textcontent div:last-child{
    display: flex;
    align-items: center;
  }
  #list .body .row li ul li .textcontent div:last-child>a~a{
    display: inline-block;
    margin-left: 15px;
    font-size: 24px;
    color: #ff6600;
    line-height: 24px;
  }
  #list .body>.row>li>div:first-child{
    margin-left: 60px;
    font-size: 18px;
    color: #ff6600;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  #list .body .row li ul li~li{
    margin-left: 15px;      
}
#list .foot{
 margin-top: 60px;
}
  #list .foot a{
   display: block;
   margin: 0 auto;
    width: 140px;
    height: 40px;
    border: 1px solid #ff6600;
    text-align: center;
    line-height: 40px;
    color: #ff6600;
  }